# Core Django packages
Django
djangorestframework
django-cors-headers

# Database
psycopg2-binary

# Environment managemen
python-decouple

# API documentation
drf-spectacular

# HTTP requests for external APIs
requests

# Authentication & Security
djangorestframework-simplejwt

# Additional utilities
django-filter
Pillow
# python-dateut

# Development dependencies
django-debug-toolbar
pytest
pytest-django
coverage

# Production dependencies
gunicorn
whitenoise